
.Layout.DefaultLayoutTemplate {

  .zone-wrapper-header,
  .zone-wrapper-footer {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }

  .block-wrapper:hover {
    //border: 1px dotted #a0a0f0;
  }

  .block-wrapper.block-dropzone-wrapper {
    height: 100%;
    min-height: 20px;
    min-width: 20px;
    display: none;
    >.block-dropzone {
      padding-bottom: 100%;
    }
  }

  //.after-block-dropzone {
  //  border: 1px solid red;
  //}

}
